/*Estilos geral

*/

body {
    background-color: #40A989;
  }


/*
Estilos da página index.html
*/
.center{
    text-align: center; /*Alinhando texto*/
    color: rgb(71, 14, 57);
    font: Bookman, URW Bookman L, serif;

}

.justify{
    text-align: justify;
    
}
/*FlexBox, Div pai*/
.container{ 
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
    color: #330733
}


/*Ajustando menu em linha*/
#menu li{
    display: inline;
    padding: 21px;  
}
    


#menu li a{
    text-decoration: none;
    font-size:21px;
    color: #330733
}

#menu li a:hover {
    color: grey;
}

.t1{
   padding: 30px;
   font:Bookman, URW Bookman L, serif;
}

.br-50{
    border-radius: 50%;
}

.wh{
    width: 300px;
    height: 300px;
}

.tm-rede{
    width: 50px;
    height: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

/*
Estilos da página contato.html
*/

.ml-50{
    margin-left: 50px;
}


